<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>|P|T|-|S|P|E|E|C|H|-|R|E|C|O|G|N|I|N|T|I|O|N|</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
<div id="speechContainer">

<h5>+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-++-+</h5>
<h3> |P|T|  |S|P|E|E|C|H|  |R|E|C|O|G|N|I|T|I|O|N|</h3>
<h5>+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-++-+</h5>
<h4>Transcrição de voz em PT para Texto</h3>
<h5>+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-++-+</h5>
    <h5>* Insira o ficheiro audio (*.wav file)</h5>

    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file"/>
        <br>
        <input type="submit" id="submitButton" value="Transcrever"/>
    </form>

    {% if transcript != "" %}
        <div id="speechTranscriptContainer">
            <h2>Transcrição:</h2>
            <p id="speechText">{{ transcript }}</p>
        </div>
    {% endif %}

<h5>+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-+-++-+</h5>
    <h6>@paciente23256 | GNU General Public License v3.0</h6>

</div>
</body>
</html>
